<!DOCTYPE html>
<html style="height: fit-content;">
<head>
	<title>Football Prediction</title>
	
	
	<script src="jquery-3.1.1.min.js"></script>
	<!-- <script src="vue.min.js"></script> -->
	<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
	<script src="semantic/semantic.min.js"></script>
	<style>
		body { width: auto; height: auto; overflow: scroll; }
	</style>
</head>
<body>
		
  <div id="app" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; max-width: 1400px;">
	  <div class="ui two columns stackable grid" style="margin: 10px 10px 0px 10px;padding: 5px;">
		<div class="column ui form" >
			<div class="ui segment" style="padding: 22px;">
				<div class="ui three columns grid">
					<div class="three column row">
						<div class="middle aligned five wide column">
							<label><b>Enter Your Code:</b></label>
						</div>
						<div class="column">
							<input v-model="userCode" type="text" placeholder="Secret Code">
						</div>
					</div>
					<teams-input
						v-for="match in todayMatches"
						v-bind:match="match"
						v-bind:key="match.hometeam"
						v-on:active_el="onTeamSelect">
					</teams-input>

					<div class="three column row">
						<div class="column">
							<button class="ui primary button" v-on:click="saveIt" :disabled="hasError">
							  Save
							</button>
						</div>
						<div class="middle aligned ten wide column">{{ message }}</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="column">
			<table class="ui celled striped table">
				<thead>
					<tr class="left aligned">
						<th>
							<!--<i class="clock icon"></i>--> <b>Yesterday's Matches</b>
						</th>
						<th class="center aligned">Score</th>
						<th>Winner</th>
					</tr>
				</thead>
				<tbody v-for="match in yesterdayResults" :key="match.hometeam">
					<tr>
						<td class="collapsing">
						<i class="futbol icon"></i> <b>{{ match.homeTeamName }} vs {{ match.awayTeamName }}</b>
						</td>
						<td class="positive center aligned">{{ match.result.goalsHomeTeam }} - {{ match.result.goalsAwayTeam }}</td>
						<td class="positive">{{ getWinningTeam(match) }}</td>
					</tr>
					<!-- <tr>
						<td class="collapsing">
						<i class="clock icon"></i> <b>AA vs BB</b>
						</td>
						<td class="positive">{{ calc830today }}</td>
					</tr> -->
				</tbody>
			</table>
		</div>

		<div class="column">
			<prediction-grid
				:data="predictions"
				:columns="[ 'playerName', 'match', 'guess' ]">
			</prediction-grid>
			<br/>
			*Predictions are not saved until you click SAVE button.
			<!-- <table class="ui celled striped table">
				<thead>
					<tr class="center aligned" >
						<th>Today's Predictions</th>
						<th v-for="match in todayMatches" v-bind:key="match.hometeam">
							<b>{{ match.homeTeamName }} vs {{ match.awayTeamName }}</b>
						</th>
					</tr>
				</thead>
				<tbody v-for="prediction in todayPredictions">
					<!-- {{#if prediction.key == todayDate }} 
					<tr class="center aligned">
						<td class="collapsing">
						<i class="male icon"></i> <b>Vishal</b>
						</td>
						<td class="positive">Portugal</td>
						<td class="positive">Draw</td>
						<td class="positive">Spain</td>
					</tr>
					<!-- {{/if}} 
				</tbody>
			</table> -->
		</div>
		
		<div class="column">
			<table class="ui celled striped table">
				<thead>
					<tr class="left aligned">
						<th>
							<i class="table icon"></i> <b>Points Table</b>
						</th>
						<th class="right aligned">
							<button class="ui primary button right aligned" v-if="showRefresh" v-on:click="calculatePoints">
								Refresh
							</button>
						</th>
					</tr>
				</thead>
				<tbody v-for="player in players" :key="player.name">
					<tr>
						<td class="collapsing">
						<i class="male icon"></i> <b>{{ player.name }}</b>
						</td>
						<td class="positive">{{ player.points }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
	<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
	<script src="vue-app.js"></script>
</body>
</html>